html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  background: var(--body-background);
  margin: 0;
  font-family: var(--base-font-family);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  /* Scrollbar styles for Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

/* Scrollbar styles for Chromium */
::-webkit-scrollbar {
  height: auto;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--tag-border-radius);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
