{{ if (.Context.Scratch.Get "TOCEnabled") }}
  <section class="widget archives">
    <div class="widget-icon">
      {{ partial "helper/icon" "list-numbers" }}
    </div>
    <div>
      <h2 class="widget-title section-title">
        {{ T "article.tableOfContents" }}

        <a href="#top" title="Back to Top" class="back-to-top">{{ partial "helper/icon" "square-arrow-up" }}</a>
      </h2>
    </div>

    <div class="widget--toc">
      {{ .Context.TableOfContents }}
    </div>
  </section>
{{ end }}
