.back-to-top {
  position: relative;
  float: right;
  inset-inline-end: 0;
  top: 0;
  height: 100%;
  width: var(--button-size);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0 10px;

  svg {
    color: var(--body-text-color);
    stroke-width: 1.33;
    transition: all 0.3s ease;
    width: 20px;
    height: 20px;

    &:hover {
      stroke-width: 2;
      color: var(--accent-color);
    }
  }
}
