{{- $ThemeVersion := "3.20.0" -}}
<footer class="site-footer">
  <section class="copyright">
    Copyright &copy;
    {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
      {{ .Site.Params.footer.since }} -
    {{ end }}
    {{ now.Format "2006" }} {{ .Site.Author.name }}
  </section>

  <section class="powerby">
    {{ with .Site.Params.footer.customText }}
      {{ . | markdownify }} <br />
    {{ end }}

    {{ T "footer.builtWith" | markdownify }}
  </section>
</footer>
